@tailwind base;
@tailwind components;
@tailwind utilities;

.fading-text {
    animation: fade 0.4s infinite alternate; /* Change the duration (2s) as needed */
}

.empty-text {
    opacity: 0; /* Hide it completely */
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1; /* Change the opacity (0.1) as needed */
    }
}
